*{
    margin: 0;
    color: white;
}
html{
    background-color: black;
}
.nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}
.left-nav{
    display: flex;
    justify-content: center;
    align-self: center;  
}
.left-nav > span{
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    
}
.middle-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.middle-nav span{
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px; 
}
.right-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.right-nav .instagram{
    height: 35px;
    width: 35px;
    margin-right: 20px;
    border-radius: 31px;
}
.right-nav .facebook{
    height: 44px;
    width: 52px;
    left: 1547.02px;
    margin-right: 15px;
}
.right-nav .watsapp{
    height: 51px;
    width: 47px; 
}
.main-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 110px;
    margin-left: 10px;
    margin-right: 10px;
}
.heading{
    height: 215px;
    width: 902px;
    margin-left: 40px;
    margin-top: 140px;
    padding-bottom: 78px;
}
.heading p{
    font-family: 'Quattrocento', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 101px;
    line-height: 108px;
    text-align: start;
    letter-spacing: 0.09em;
   
    padding-left: 99px;
}
.para{
    border-top: 10px solid red;
    margin-left: 139px;
    height: 325px;
    width: 599px;
    padding-top: 67px;
}
.para p{
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.09em;
    text-align: start;
}
.about-us-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.about-us-container .heading1{
    width: 526px;
    margin-top: 99px;
    border-bottom: 10px solid #B62828;   
}
.about-us-container .heading1 h3{
    font-family: 'Quattrocento', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    padding-bottom: 5px;
}
.about-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 40px;
    align-items: center;
}
.about-container .para1{
    height: 420px;
    width: 677px;
    display: flex;
    
}
.para1 p{
    font-family:'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.09em;
}
.img1 img{
width: 631px;
height: 506px;
border-radius: 10px;
}
.border{
    height: 4px;
    width: 535px;
    background-color: #B62828;
    position: absolute;
    margin-top: -450px;
}
.menu-container{
    margin-top: 99px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.menu-container .heading2{
    width: 474px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 10px solid #B62828;
}
.menu-container .heading2 h3{
    font-family: 'Quattrocento', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    
}
.menu-container .para2{
    
    width: 1315px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 99px;
}
.para2 p{
    font-family:'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.09em;
}
.pizza-menu-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
}
.pizza-menu-container .row1-1{
    display: flex;
}
.row1-1 .pizza1{
    width: 273.08px;
    height: 200px;
}
.row1-1 span{
    margin-left: 18.92px;
}
.row1-1 span p{
    height: 120px;
    width: 346px;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.09em;
}
.row1-1 span h5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 51px;
    width: 348px;
    font-family:'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #F2C94C;
}
.findus-container{
    margin-top: 99px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.findus-container .heading3{
    width: 474px;
    display: flex;
    justify-content: center;
    border-bottom: 10px solid #B62828;
}
.findus-container .heading3 h3{
    font-family: 'Quattrocento', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    display: flex;
    text-align: center;
}
.find-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 50px;
    gap: 40px;
}
.find-container .para3{
    height: 181px;
    width: 640px;
    font-family:'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.09em;
}
.find-container .location{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
    
}
.find-container .call{
    width: 640px;
    display: flex;
    align-items: center;
    margin-top:5px;
}
.call img{
    height: 53px;
    width: 55px;
}
.call .p1{
    height: 42px;
    width: 487px;
    margin-left: 15px;
}
.call .p2{
    height: 42px;
    width: 487px;
    margin-left: 15px;
}
.find-img img{
    width: 685px;
    height: 438px;
}
.location img{
    width: 71px;
    height: 67px;
}
.location span{
    height: 43px;
    width: 487px;
    margin-left: 5px;
}
.contact-container{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.part-left img{
    width: 302px;
}
.pert-right .logo img{
    height: 62px;
    width: 65px;
}
.part-right .logo{
    
    width: 551px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.logo img{
    margin-left: 70px;
}
.part-right span{
    font-family:'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.09em;
    margin-left: 70px;
}
.part-right .number{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 70px;
    align-items: center;
    margin-top: 20px;
}
.number .call-num{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:5px;
    margin-left: 50px;
}
.num1{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.09em;
}
@media(min-width: 1401px){
     .nav-container{
        display: flex;
        flex-direction: row;
        flex-wrap;
        justify-content: center;
        gap: 150px;
        position: fixed;
        left:0;
        right: 0;
        z-index: 100;
        top: 0;
     }
     .main-content{
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./pizza1\ 1.png);
     }
}
@media(max-width: 1400px){
    .nav-container{
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content:center;
        gap: 100px;
        position: fixed;
        left:0;
        right: 0;
        z-index: 100;
        top: 0;
     }
     .main-content{
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./pizza1\ 1.png);
     }
}
@media(max-width: 1200px){
    .nav-container{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        gap: 90px;
        position: fixed;
        left:0;
        right: 0;
        z-index: 100;
        top: 0;
     }
     .main-content{
       
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./pizza1\ 1.png);
     }
}
@media(max-width: 992px){
    .nav-container{
    position: fixed;
    left:0;
    right: 0;
    z-index: 100;
    top: 0;}
    .main-container{
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    }
    .pizza-menu-container{
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 50px;
        align-items: center;
    }
    .find-container{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .find-img img{
       margin-top: 150px;
    }  
    .main-content{
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./pizza1\ 1.png);
     }
}
@media(max-width: 768px){
    .nav-container{
        position: fixed;
        left:0;
        right: 0;
        z-index: 100;
        top: 0;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
        }
        .pizza-menu-container{
            display: grid;
            grid-template-columns: repeat(1, auto);
            gap: 50px;
            align-items: center;
        }
        .find-container{
            display: grid;
            grid-template-columns: repeat(1, auto);
        }
        .find-img img{
            margin-top: 150px;
         }  
         .main-content{
            background-position: center center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(./pizza1\ 1.png);
         }
}
@media(max-width: 576px){
    .nav-container{
        position: fixed;
        left:0;
        right: 0;
        z-index: 100;
        top: 0;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
        }
        .pizza-menu-container{
            display: grid;
            grid-template-columns: repeat(1, auto);
            gap: 50px;
            align-items: center;
        }
        .find-container{
            display: grid;
            grid-template-columns: repeat(1, auto);
        }
        .find-img img{
            margin-top: 150px;
         }  
         .main-content{
            background-position: center center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(./pizza1\ 1.png);
         }
}





